:root{
    --menu-color: rgba(0,0,0,.55);
    --grey-color: #626a81;
    --voilet-color: #744f9d;
    --green-color: #05beb0;
    --pink-color: #a546a0;
    --light-blue-color: #49a5d4;
}
body{
    font-family: 'Mulish', sans-serif;
}
.icon{
    color: var(--menu-color);
}
.navbar-light .navbar-brand{
    color: var(--menu-color);
    font-size: 16px;
}
.navbar-light .navbar-brand:hover{
    color: var(--menu-color);
}
.left-side{
    border: 1px solid #000;
}
.right-side{
    margin-left: 80px;
}
.icons1{
    background-color: var(--grey-color);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    /* margin: 2px; */
}
.icons2, .icons3{
    background-color: var(--voilet-color);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    /* margin: 2px; */
}